<mat-card style="margin-top: 100px; margin-left: 250px; margin-right: 500px; background-color: azure;"  >
    <h1>Profile Details</h1>
    <!-- {{user|json}} -->
    <mat-card-content>
      <div class="bootstrap-wrapper">
          <div class="container">
              
          </div>
          <div class="container">
            <div class="container text-center">
              <img 
              src="https://image.shutterstock.com/image-photo/profile-picture-smiling-millennial-asian-260nw-1836020740.jpg" 
              alt="" srcset=""
              class="profile-image">
              <h1>{{user.firstName}} {{user.lastName}}</h1>
            </div>
            
            <div class="row">
                <div class="col-md-10 offset-md-1 ">
                    <table class="table">
                        <tr>
                            <td>UserName</td>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>User Id</td>
                            <td>{{user.id}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{user.authorities[0].authority}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>Active</td>
                        </tr>
                    </table>
                </div>
            </div>
              
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">Share</button>
      </mat-card-actions>
</mat-card>
